<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <!--[if IE]>
    <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box">
                <h3>Karson 統一登錄平台</h3>
                <form action="login"   method="post" autocomplete="off"  id="loginForm">
                    <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}"/>
                    <div class="input_outer">
                        <span class="u_user"></span>
                        <input name="username" class="text" style="BACKGROUND-COLOR: transparent;" type="text" placeholder="请输入账户">
                    </div>
                    <div class="input_outer">
                        <span class="us_uer"></span>
                        <input name="password" class="text" style="BACKGROUND-COLOR: transparent; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码">
                    </div>

                    <div class="input_outer">
                        <span class="rr"></span>
                           <input name="code" class="text" style="BACKGROUND-COLOR: transparent;z-index:100;"value="" type="text" placeholder="请输入验证码">
                           <img id="image"  style="vertical-align:middle;margin-top: 20px;width: 100px;"title="点击更换验证码"  onclick="reCheckcode()" />
                    </div>
                    <div class="mb2" style="margin-top: 85px;">
                        <a class="act-but submit" onclick="document.getElementById('loginForm').submit();" style="color: #FFFFFF">登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- /container -->
<script src="js/TweenLite.min.js"></script>
<script src="js/EasePack.min.js"></script>
<script src="js/rAF.js"></script>
<script src="js/demo-1.js"></script>
<script src="js/jquery.min.js"></script>
<script>
    function reCheckcode() {
        $("#image").attr({"src": "api/captcha?w" + Math.random()});
    }
    window.onload=function (ev) {
        reCheckcode();
    }
</script>



</body>
</html>
